<p class="para"><%= link_to @post.title, @post.url %></p>
<p class="subtext">Posted by <%= @post.user[:name] %> <%= time_ago_in_words(@post.updated_at) %> ago | <%=link_to "#{@post.comments.count} #{comments(@post)}", @post %></p>

<%= form_for([@post, @post.comments.build]) do |f| %>
  <div>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>
  <div class="comment_field">
    <%= f.text_area :body, :cols => "50", :rows => "7" %>
  </div>
  <div class="button">
    <%= f.submit %>
  </div>
<% end %>



<% @comments.each do |comment| %>
  
  <%#= debug comment %>
  <% if comment.id %>
  <p class="toptext">
  	<%= comment.user.name %> <%= time_ago_in_words(comment.updated_at) %> ago
  </p>
 
  <p class="subbody">
    <%= comment.body %>
  <% end %>
  </p>
<% end %>